---
import HeroText from './react/HeroText.tsx';
---

<section class="blueprint relative bg-white pt-4 pb-2">
  <div class="container-x relative z-10">
    <div class="flare-card flare-card-texture flare-card-glow min-h-[560px] px-6 py-20 sm:px-10 lg:py-28">
      <HeroText client:load />
    </div>
  </div>
</section>
